workflows/alex-ai-jobs-simple.json
{
  "name": "Alex AI Jobs Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "alex-ai-jobs",
        "responseMode": "responseNode"
      },
      "id": "webhook-get",
      "name": "Webhook - GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "alex-ai-jobs"
    },
    {
      "parameters": {
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/job_opportunities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwa2trYnVmZHd4bWphZXJiaGJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwOTcyMjIsImV4cCI6MjA3MTY3MzIyMn0.wFPf3jA0X2zdNkaPqoPzTEAE-MsS-XcM6Gk20KYr4Dw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwa2trYnVmZHd4bWphZXJiaGJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwOTcyMjIsImV4cCI6MjA3MTY3MzIyMn0.wFPf3jA0X2zdNkaPqoPzTEAE-MsS-XcM6Gk20KYr4Dw"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            }
          ]
        }
      },
      "id": "supabase-get",
      "name": "Supabase - Get Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json, \"message\": \"Job opportunities retrieved successfully\" } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook - GET": {
      "main": [
        [
          {
            "node": "Supabase - Get Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Jobs": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "alex-ai-jobs-simple",
  "tags": []
}

