apps/alex-ai-commercial/n8n-workflow-mcp-request-optimized.json
{
  "name": "Alex AI MCP Request Handler - Production",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alex-ai-mcp-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.method }}",
              "rightValue": "ping",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-method",
      "name": "Check Method",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"result\": { \"status\": \"pong\", \"timestamp\": new Date().toISOString() }, \"context\": $json.context } }}"
      },
      "id": "respond-ping",
      "name": "Respond Ping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"result\": { \"message\": \"MCP request processed\", \"method\": $json.method, \"timestamp\": new Date().toISOString() }, \"context\": $json.context } }}"
      },
      "id": "respond-mcp",
      "name": "Respond MCP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Method": {
      "main": [
        [
          {
            "node": "Respond Ping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
